<style>
    .navigation {
        margin-left: 0px;
        height: 80%;
    }

    .navigation div {
        padding-left: 1px;
    }

    .navigation div ul {
        overflow: hidden;
        display: none;
        height: auto;
        margin: 0;
        margin-left: -.8rem;
    }

    .navigation span {
        display: block;
        line-height: 25px;
        padding: .5rem .5rem;
        cursor: pointer;
    }

    .navigation span:hover {
        background-color: rgba(0, 0, 0, 0.03);
    }

    .navigation a {
        color: #333;
        text-decoration: none;
    }

    .navigation a:hover {
        color: #06F;
    }
</style>
<aside class="sidebar">
    <div class="scrollbar-inner">
        <div id="navigation" class="navigation">
            <div>
                <span class="navigation-menu navigation-menu-href navigation__active" name="index">
                    <i class="zmdi zmdi-home"></i>&nbsp;&nbsp;首页
                </span>
            </div>
        </div>
    </div>
</aside>
