<script data-th-src="@{js/plugins/jquery.min.js}"></script>
<script data-th-src="@{js/plugins/tether/tether.min.js}"></script>
<script data-th-src="@{js/plugins/popper/popper.min.js}"></script>
<script data-th-src="@{js/plugins/bootstrap/js/bootstrap.min.js}"></script>
<script data-th-src="@{js/plugins/waves/waves.min.js}"></script>
<script data-th-src="@{js/plugins/jquery.scrollbar/jquery.scrollbar.min.js}"></script>
<script data-th-src="@{js/plugins/jquery-scrollLock/jquery-scrollLock.min.js}"></script>
<script data-th-src="@{js/plugins/bootstrap-notify/bootstrap-notify.min.js}"></script>
<script data-th-src="@{js/plugins/multiple-select/multiple-select.js}"></script>
<script data-th-src="@{js/plugins/dropzone/dropzone.min.js}"></script>
<script data-th-src="@{js/plugins/sweetalert2/sweetalert2.js}"></script>
<script data-th-src="@{js/plugins/polyfill/core.min.js}"></script>
<script data-th-src="@{js/plugins/jquery-validate/jquery.validate.min.js}"></script>
<script data-th-src="@{js/plugins/jquery-validate/additional-methods.min.js}"></script>
<script data-th-src="@{js/plugins/jquery-validate/messages_zh.min.js}"></script>
<script data-th-src="@{/js/plugins/jsTree/jstree.js}"></script>
<script data-th-src="@{js/plugins/bootstrap-table/js/bootstrap-table.min.js}"></script>
<script data-th-src="@{js/plugins/bootstrap-table/js/locale/bootstrap-table-zh-CN.js}"></script>
<script data-th-src="@{js/plugins/jquery-treegrid/js/jquery.treegrid.min.js}"></script>
<!-- <script data-th-src="@{js/plugins/jqTreeGrid/jquery.treegrid.bootstrap3.js}"></script> -->
<script data-th-src="@{js/plugins/jqTreeGrid/jquery.treegrid.extension.js}"></script>
<!-- <script data-th-src="@{js/jqTreeGrid/tree.table.js}"></script> -->
<script data-th-src="@{js/plugins/highchart/highcharts.js}"></script>
<script data-th-src="@{js/plugins/highchart/exporting.js}"></script>
<script data-th-src="@{js/plugins/highchart/highcharts-zh_CN.js}"></script>
<script data-th-src="@{js/plugins/chartjs/Chart.min.js}"></script>
<script data-th-src="@{js/plugins/daterangepicker/moment.min.js}"></script>
<script data-th-src="@{js/plugins/daterangepicker/daterangepicker.js}"></script>
<script data-th-src="@{js/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js}"></script>
<script data-th-src="@{js/plugins/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js}"></script>
<!-- Fileinput -->
<script data-th-src="@{js/plugins/bootstrap-fileinput/js/fileinput.min.js}"></script>
<script data-th-src="@{js/plugins/bootstrap-fileinput/js/locales/zh.js}"></script>
<!-- bootstrap-autocomplete -->
<script data-th-src="@{js/plugins/bootstrap-autocomplete/bootstrap-autocomplete.min.js}"></script>

<script data-th-src="@{js/common.js}"></script>
<script data-th-src="@{js/app/utils.js}"></script>
<script data-th-src="@{js/app/system/region/region.js}"></script>
