<section class="content">
    <header class="content__title">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">主页</li>
        </ol>
    </header>
    <div class="main-content">
        <div class="card">
            <div class="card-block">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="small-box bg-aqua common-box-margin">
                                <div class="inner">
                                    <h4>
                                        240
                                    </h4>
                                    <p>楼宇总量（栋）</p>
                                </div>
                                <div class="icon">
                                    <i class="zmdi zmdi-city"></i>
                                </div>
                            </div>
                            <div class="small-box bg-aqua common-box-margin">
                                <div class="inner">
                                    <h4>
                                        7973
                                    </h4>
                                    <p>客户总量（个）</p>
                                </div>
                                <div class="icon">
                                    <i class="zmdi zmdi-accounts"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="small-box bg-orange common-box-margin">
                                <div class="inner">
                                    <h4>
                                        227
                                    </h4>
                                    <p>光缆已接入（栋）</p>
                                </div>
                                <div class="icon">
                                    <i class="zmdi zmdi-toys"></i>
                                </div>
                            </div>
                            <div class="small-box bg-orange common-box-margin">
                                <div class="inner">
                                    <h4>
                                        240
                                    </h4>
                                    <p>本网客户（个）</p>
                                </div>
                                <div class="icon">
                                    <i class="zmdi zmdi-accounts-alt"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="small-box bg-red common-box-margin">
                                <div class="inner">
                                    <h4>
                                        76576
                                    </h4>
                                    <p>客户业务量（条）</p>
                                </div>
                                <div class="icon">
                                    <i class="zmdi zmdi-flower-alt"></i>
                                </div>
                            </div>
                            <div class="small-box bg-red common-box-margin">
                                <div class="inner">
                                    <h4>
                                        1674.85
                                    </h4>
                                    <p>2019年收入（万元）</p>
                                </div>
                                <div class="icon">
                                    <i class="zmdi zmdi-balance-wallet"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <canvas id="coveragePieChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-block">
                <canvas id="lineChart"></canvas>
            </div>
        </div>
    </div>
    <div data-th-include="common/footer"></div>
</section>
<script data-th-src="@{js/app/main.js}"></script>