<div class="modal fade" id="customerOpportunity-add" data-keyboard="false" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title pull-left" id="customerOpportunity-add-modal-title">新增商机客户</h3>
            </div>
            <div class="modal-body">
                <form id="customerOpportunity-add-form">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon"> 楼宇编码：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="buildingNo" class="form-control" readonly>
                                </div>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#queryBuilding-modal" id="queryButton">获取楼宇信息</button>
					                </span>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon"> 楼宇名称：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="buildingName" class="form-control" readonly>
                                    <input type="text" hidden name="customerId" class="form-control">
                                    <input type="text" hidden name="buildingId" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon"> 客户名称：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="customerName" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon"> 楼层：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="floorNumber" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon"> 房间号：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="roomNumber" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon"> 客户类型：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="customerType" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon"> 客户行业：
					            </span>
                                <div class="form-group">
                                    <select class="form-control" name="customerIndustry">
                                        <option value="" selected>---请选择---</option>
                                        <option value="201">生产制造</option>
                                        <option value="202">批发零售</option>
                                        <option value="203">信息技术</option>
                                        <option value="204">金融保险</option>
                                        <option value="205">政企机构及社会团体</option>
                                        <option value="206">教育培训</option>
                                        <option value="207">酒店住宿</option>
                                        <option value="208">其他</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon"> 竞争对手名称：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="competitorName" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon"> 竞争对手业务类型：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="competitorType" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon"> 竞争对手合同到期情况：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="competitorEnd" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon"> 客户联系人：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="keyPerson" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon"> 客户联系人电话：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="keyPersonContact" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-save" id="save-button" name="save">保存</button>
                <button type="button" class="btn btn-secondary btn-close" id="close-button">关闭</button>
                <button class="btn-hide"></button>
            </div>
        </div>
    </div>
</div>
<script data-th-src="@{js/app/building/customerOpportunity/customerOpportunityAdd.js}"></script>
