<div class="modal fade" id="modal-buildingCustomerRp-edit" data-keyboard="false" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title pull-left" id="modal-buildingCustomerRp-edit-title">楼宇客户关系</h3>
            </div>
            <div class="modal-body">
                <input type="hidden" id="buildingCustomerRpModalMode">
                <form id="modal-buildingCustomerRp-edit-form">
                    <input type="hidden" name="buildingCustomerRpId">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	 楼宇：
					            </span>
                                <div class="form-group">
                                    <input type="hidden" name="buildingNo"/>
                                    <input type="hidden" name="buildingSegmId"/>
                                    <input type="hidden" name="buildingSegmStandName"/>
                                    <input type="text" class="form-control" name="buildingName" readonly>
                                </div>
                                <span class="actions__item zmdi zmdi-search" data-toggle="modal"
                                      data-target="#building-select-modal" title="搜索"
                                      id="selectBuildingSingle"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	 九级地址：
					            </span>
                                <div class="form-group">
                                    <input type="hidden" name="segmId"/>
                                    <input type="text" class="form-control" name="standName" readonly>
                                </div>
                                <span class="actions__item zmdi zmdi-search" title="搜索"
                                      id="selectAddressSingle"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	 客户：
					            </span>
                                <div class="form-group">
                                    <input type="hidden" name="customerNo"/>
                                    <input type="text" class="form-control" name="customerName" readonly>
                                </div>
                                <span class="actions__item zmdi zmdi-search" title="搜索"
                                      id="selectCustomerSingle"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-save buildingCustomerRp-save">保存</button>
                <button type="button" class="btn btn-secondary btn-close" data-dismiss="modal">关闭</button>
                <button class="btn-hide"></button>
            </div>
        </div>
    </div>
</div>
<div data-th-include="building/building/select-modal-single"></div>
<div data-th-include="res/address/select-modal-multiple"></div>
<div data-th-include="building/customer/select-modal-single"></div>
<script data-th-src="@{js/app/building/buildingCustomerRp/edit.js}"></script>