<div class="card">
    <div class="card-block">
        <div class="table-responsive">
            <div class="dataTables_wrapper">
                <div class="dataTables_buttons hidden-sm-down actions">
                    <div class="actions__item zmdi zmdi-search buildingCustomerRp-search" title="搜索"></div>
                    <div class="actions__item zmdi zmdi-refresh-alt buildingCustomerRp-refresh" title="刷新"></div>
                    <div class="dropdown actions__item">
                        <i data-toggle="dropdown" class="zmdi zmdi-download">
                        </i>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <a href="javascript:void(0)" class="dropdown-item building-export-excel"
                               data-table-action="excel">
                                Excel (.xlsx)
                            </a>
                            <a href="javascript:void(0)" class="dropdown-item building-export-csv"
                               data-table-action="csv">
                                CSV (.csv)
                            </a>
                        </ul>
                    </div>
                    <div class="dropdown actions__item"
                         shiro:hasAnyPermissions="buildingCustomerRp:add,buildingCustomerRp:delete">
                        <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="javascript:void(0)" class="dropdown-item buildingCustomerRp-add"
                               data-toggle="modal"
                               data-target="#modal-buildingCustomerRp-edit"
                               shiro:hasPermission="buildingCustomerRp:add">新增楼宇客户关系</a>
                            <a href="javascript:void(0)" class="dropdown-item buildingCustomerRp-delete"
                               shiro:hasPermission="buildingCustomerRp:delete">删除楼宇客户关系</a>
                        </div>
                    </div>
                </div>
                <div class="dataTables_filter">
                    <form class="buildingCustomerRp-table-form">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        楼宇编码：
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="buildingNo" class="form-control">
                                        <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        楼宇名称：
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="buildingName" class="form-control">
                                        <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        客户编码：
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="customerNo" class="form-control">
                                        <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        客户名称：
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="customerName" class="form-control">
                                        <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <table id="buildingCustomerRpTable" data-mobile-responsive="true"
                       class="mb-bootstrap-table text-nowrap table-striped"></table>
            </div>
        </div>
    </div>
</div>
<div data-th-include="building/buildingCustomerRp/edit-modal"></div>
<script data-th-src="@{js/app/building/buildingCustomerRp/buildingCustomerRp.js}"></script>
<script data-th-src="@{js/app/building/buildingCustomerRp/index.js}"></script>