<div class="modal fade" id="address-select-modal" data-keyboard="false" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-common-large">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title pull-left" id="address-select-modal-title">查询地址</h3>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <div class="dataTables_wrapper">
                        <div class="change-title-row">
                            <div class="change-title-border">
                                <div></div>
                                <span>查询条件</span>
                            </div>
                        </div>
                        <div class="dataTables_filter"
                             data-th-include="res/address/select-modal-common-part.html"></div>
                        <div class="change-title-row">
                            <div class="change-title-border float-left">
                                <div></div>
                                <span>查询结果</span>
                            </div>
                            <div class="dataTables_buttons hidden-sm-down actions">
                                <div class="actions__item zmdi zmdi-search address-search" title="搜索"></div>
                                <div class="actions__item zmdi zmdi-refresh-alt address-refresh"
                                     title="刷新"></div>
                            </div>
                        </div>
                        <table id="addressTable" selectMode="multiple" data-mobile-responsive="true"
                               class="mb-bootstrap-table text-nowrap table-striped"></table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-save address-select-modal-ok">确定</button>
                <button type="button" class="btn btn-secondary btn-close" data-dismiss="modal">关闭</button>
                <button class="btn-hide"></button>
            </div>
        </div>
    </div>
</div>
<script data-th-src="@{js/app/res/address/address.js}"></script>
<script data-th-src="@{js/app/res/address/index.js}"></script>
<script data-th-src="@{js/app/res/address/select-modal-single.js}"></script>