<div class="card">
    <div class="card-block">
        <div class="table-responsive">
            <div class="dataTables_wrapper">
                <div class="dataTables_buttons hidden-sm-down actions">
                    <span class="actions__item zmdi zmdi-search building-search" title="搜索"/>
                    <span class="actions__item zmdi zmdi-refresh-alt building-refresh" title="刷新"/>
                    <div class="dropdown actions__item">
                        <i data-toggle="dropdown" class="zmdi zmdi-download">
                        </i>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <a href="javascript:void(0)" class="dropdown-item building-export-excel"
                               data-table-action="excel">
                                Excel (.xlsx)
                            </a>
                            <a href="javascript:void(0)" class="dropdown-item building-export-csv"
                               data-table-action="csv">
                                CSV (.csv)
                            </a>
                        </ul>
                    </div>
                    <div class="dropdown actions__item"
                         shiro:hasAnyPermissions="building:add,building:update,building:delete">
                        <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="javascript:void(0)" class="dropdown-item building-add" data-toggle="modal"
                               data-target="#modal-building-edit" shiro:hasPermission="building:add">新增楼宇</a>
                            <a href="javascript:void(0)" class="dropdown-item building-update"
                               shiro:hasPermission="building:update">修改楼宇</a>
                            <a href="javascript:void(0)" class="dropdown-item building-delete"
                               shiro:hasPermission="building:delete">删除楼宇</a>
                        </div>
                    </div>
                </div>
                <div class="dataTables_filter">
                    <form class="building-table-form">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon">
					               	地市：
					            </span>
                                    <div class="form-group">
                                        <select name="dsRegionId" class="form-control">
                                        </select>
                                        <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon">
					               	区县：
					            </span>
                                    <div class="form-group">
                                        <select name="regionId" class="form-control">
                                        </select>
                                        <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon">
					               	楼宇编码：
					            </span>
                                    <div class="form-group">
                                        <input type="text" name="buildingNo" class="form-control">
                                        <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon">
					               	楼宇名称：
					            </span>
                                    <div class="form-group">
                                        <input type="text" name="buildingName" class="form-control">
                                        <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon">
					               	区域类型：
					            </span>
                                    <div class="form-group">
                                        <select name="buildingType" class="form-control">
                                            <option value="" selected>---请选择---</option>
                                            <option value="SQLY">商务楼宇</option>
                                            <option value="SQYQ">园区</option>
                                            <option value="SQSC">专业市场</option>
                                            <option value="SQSS">厂企宿舍</option>
                                            <option value="SQWB">网吧</option>
                                            <option value="SQJD">宾馆酒店</option>
                                            <option value="SQQT">商企其他</option>
                                        </select>
                                        <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon">
					               	区域名称：
					            </span>
                                    <div class="form-group">
                                        <input type="text" name="buildingTypeName" class="form-control">
                                        <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon">
					               	楼宇地址：
					            </span>
                                    <div class="form-group">
                                        <input type="text" name="buildingAddress" class="form-control">
                                        <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon">
					               	楼宇状态：
					            </span>
                                    <div class="form-group">
                                        <select name="state" class="form-control">
                                            <option value="" selected>---请选择---</option>
                                            <option value="1">已覆盖</option>
                                            <option value="0">待覆盖</option>
                                        </select>
                                        <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <table id="buildingTable" data-mobile-responsive="true"
                       class="mb-bootstrap-table text-nowrap table-striped"></table>
            </div>
        </div>
    </div>
</div>
<div data-th-include="building/building/edit-modal"></div>
<div data-th-include="res/address/query-modal"></div>
<script data-th-src="@{js/app/building/building/index.js}"></script>