<div class="modal fade" id="queryBuilding-modal" data-keyboard="false" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title pull-left" id="queryBuilding-modal-title">查询楼宇</h3>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-block">
                        <div class="table-responsive">
                            <div id="data-table_wrapper" class="dataTables_wrapper">
                                <div class="dataTables_buttons hidden-sm-down actions">
                                    <span class="actions__item zmdi zmdi-search" title="搜索"/>
                                    <span class="actions__item zmdi zmdi-refresh-alt" title="刷新"/>
                                </div>
                                <div id="data-table_filter" class="dataTables_filter">
                                    <form class="building-table-form">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="input-group">
                                                    <span class="input-group-addon"> 楼宇名称： </span>
                                                    <div class="form-group">
                                                        <input type="text" hidden id="modelId" class="form-control">
                                                        <input type="text" name="buildingName" class="form-control"> <i
                                                            class="form-group__bar"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="input-group">
                                                    <span class="input-group-addon"> 楼宇编码： </span>
                                                    <div class="form-group">
                                                        <input type="text" name="buildingNo" class="form-control"> <i
                                                            class="form-group__bar"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <table id="queryBuildingTable" data-mobile-responsive="true"
                                       class="mb-bootstrap-table text-nowrap table-striped"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-save" id="determine-button" name="determine">确定</button>
                <button type="button" class="btn btn-secondary btn-close" id="close-button">关闭</button>
                <button class="btn-hide"></button>
            </div>
        </div>
    </div>
</div>
<script data-th-src="@{js/app/building/building/queryBuildingModal.js}"></script>
