<div class="card">
    <div class="card-block">
        <div class="table-responsive">
            <div class="dataTables_wrapper">
                <div class="dataTables_buttons hidden-sm-down actions">
                    <div class="actions__item zmdi zmdi-search accessArea-search" title="搜索"></div>
                    <div class="actions__item zmdi zmdi-refresh-alt accessArea-refresh" title="刷新"></div>
                    <div class="dropdown actions__item">
                        <i data-toggle="dropdown" class="zmdi zmdi-download">
                        </i>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <a href="javascript:void(0)" class="dropdown-item accessArea-export-excel"
                               data-table-action="excel">
                                Excel (.xlsx)
                            </a>
                            <a href="javascript:void(0)" class="dropdown-item accessArea-export-csv"
                               data-table-action="csv">
                                CSV (.csv)
                            </a>
                        </ul>
                    </div>
                </div>
                <div class="dataTables_filter">
                    <form class="accessArea-table-form">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        地市：
                                    </div>
                                    <div class="form-group">
                                        <select name="dsRegionId" class="form-control">
                                        </select>
                                        <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        综合接入区名称：
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="accessAreaName" class="form-control">
                                        <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <table id="accessAreaTable" data-mobile-responsive="true"
                       class="mb-bootstrap-table text-nowrap table-striped"></table>
            </div>
        </div>
    </div>
</div>
<script data-th-src="@{js/app/res/accessArea/accessArea.js}"></script>
<script data-th-src="@{js/app/res/accessArea/index.js}"></script>