<div class="modal fade" id="accessArea-select-modal" data-keyboard="false" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-common-large">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title pull-left" id="accessArea-select-modal-title">查询综合接入区</h3>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-block">
                        <div class="table-responsive">
                            <div class="dataTables_wrapper">
                                <div class="dataTables_buttons hidden-sm-down actions">
                                    <div class="actions__item zmdi zmdi-search accessArea-search" title="搜索"></div>
                                    <div class="actions__item zmdi zmdi-refresh-alt accessArea-refresh"
                                         title="刷新"></div>
                                </div>
                                <div class="dataTables_filter">
                                    <form class="accessArea-table-form">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        地市：
                                                    </div>
                                                    <div class="form-group">
                                                        <select name="dsRegionId" class="form-control">
                                                        </select>
                                                        <i class="form-group__bar"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        综合接入区名称：
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="text" name="accessAreaName" class="form-control">
                                                        <i class="form-group__bar"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <table id="accessAreaTable" selectMode="single" data-mobile-responsive="true"
                                       class="mb-bootstrap-table text-nowrap table-striped"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-save accessArea-select-modal-ok">确定</button>
                <button type="button" class="btn btn-secondary btn-close" data-dismiss="modal">关闭</button>
                <button class="btn-hide"></button>
            </div>
        </div>
    </div>
</div>
<script data-th-src="@{js/app/res/accessArea/accessArea.js}"></script>
<script data-th-src="@{js/app/res/accessArea/index.js}"></script>
<script data-th-src="@{js/app/res/accessArea/select-modal-single.js}"></script>