<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.res.dao.AccessAreaMapper">
    <resultMap id="accessArea" type="cc.mrbird.res.domain.AccessArea">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="ACCESS_AREA_ID" jdbcType="CHAR" property="accessAreaId"/>
        <result column="ACCESS_AREA_NO" jdbcType="VARCHAR" property="accessAreaNo"/>
        <result column="ACCESS_AREA_NAME" jdbcType="VARCHAR" property="accessAreaName"/>
        <result column="FOCUS_AREA_NAME" jdbcType="VARCHAR" property="focusAreaName"/>
        <result column="RES_TYPE_ID" jdbcType="DECIMAL" property="resTypeId"/>
        <result column="AREA_TYPE_ID" jdbcType="DECIMAL" property="areaTypeId"/>
        <result column="REGION_ID" jdbcType="CHAR" property="regionId"/>
        <result column="IS_COMPLETE" jdbcType="CHAR" property="isComplete"/>
        <result column="PROBLEM" jdbcType="VARCHAR" property="problem"/>
        <result column="WORK_LOAD" jdbcType="VARCHAR" property="workLoad"/>
        <result column="NOTES" jdbcType="VARCHAR" property="notes"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="CREATE_OP" jdbcType="DECIMAL" property="createOp"/>
        <result column="MODIFY_DATE" jdbcType="TIMESTAMP" property="modifyDate"/>
        <result column="MODIFY_OP" jdbcType="DECIMAL" property="modifyOp"/>
        <result column="DELETE_STATE" jdbcType="CHAR" property="deleteState"/>
        <result column="DELETE_TIME" jdbcType="TIMESTAMP" property="deleteTime"/>
        <result column="FOCUS_AREA_ID" jdbcType="CHAR" property="focusAreaId"/>
        <result column="ACCESS_AREA_TYPE" jdbcType="CHAR" property="accessAreaType"/>
        <result column="WO_ID" jdbcType="DECIMAL" property="woId"/>
        <result column="MNT_STATE_ID" jdbcType="DECIMAL" property="mntStateId"/>
        <result column="AREA" jdbcType="DECIMAL" property="area"/>
    </resultMap>

    <select id="findAll" resultType="cc.mrbird.res.domain.AccessArea">
        <bind name="bindAccessAreaName" value="'%' + accessAreaName + '%'"/>
        SELECT DISTINCT A.ACCESS_AREA_ID as accessAreaId,
        A.ACCESS_AREA_NO as accessAreaNo,
        A.ACCESS_AREA_NAME as accessAreaName,
        A.FOCUS_AREA_ID as focusAreaId,
        B.ACCESS_AREA_NAME as focusAreaName,
        A.RES_TYPE_ID as resTypeId,
        SF_GET_DESC_CHINA(A.AREA_TYPE_ID) as areaTypeName,
        SF_GET_REGION(A.REGION_ID) as dsRegionName,
        SF_GET_DESC_CHINA(A.IS_COMPLETE) as isCompleteName,
        A.PROBLEM as problem,
        A.WORK_LOAD as workLoad,
        A.NOTES as notes,
        A.CREATE_TIME as createTime,
        A.CREATE_OP as createOp,
        A.MODIFY_DATE as modifyDate,
        A.MODIFY_OP as modifyOp
        FROM (select * from SPC_ACCESS_AREA where nvl(delete_state, '0') = '0') A,
        (select * from SPC_ACCESS_AREA where nvl(delete_state, '0') = '0') B
        WHERE 1 = 1
        AND A.FOCUS_AREA_ID = B.ACCESS_AREA_ID(+)
        <if test="accessAreaName != null and accessAreaName != ''">
            AND A.ACCESS_AREA_NAME like #{bindAccessAreaName}
        </if>
    </select>
</mapper>