<div class="modal fade" id="customerBusiness-query-modal" data-keyboard="false" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-common-large">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title pull-left" id="customerBusiness-query-modal-title">查询客户业务</h3>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-block">
                        <div class="table-responsive">
                            <div class="dataTables_wrapper">
                                <div class="dataTables_buttons hidden-sm-down actions">
                                    <div class="actions__item zmdi zmdi-search customerBusiness-search"
                                         title="搜索"></div>
                                    <div class="actions__item zmdi zmdi-refresh-alt customerBusiness-refresh"
                                         title="刷新"></div>
                                    <div class="dropdown actions__item">
                                        <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a href="javascript:void(0)"
                                               class="dropdown-item customerBusiness-add">新增业务</a>
                                            <a href="javascript:void(0)" class="dropdown-item customerBusiness-update">修改业务</a>
                                            <a href="javascript:void(0)" class="dropdown-item customerBusiness-delete">删除业务</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="dataTables_filter">
                                    <form class="customerBusiness-table-form">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        客户编码：
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="text" name="customerNo" class="form-control">
                                                        <i class="form-group__bar"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <table id="customerBusinessTable" selectMode="single" data-mobile-responsive="true"
                                       class="mb-bootstrap-table text-nowrap table-striped"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-close" data-dismiss="modal">关闭</button>
                <button class="btn-hide"></button>
            </div>
        </div>
    </div>
</div>
<div data-th-include="building/customerBusiness/edit-modal"></div>
<script data-th-src="@{js/app/building/customerBusiness/customerBusiness.js}"></script>
<script data-th-src="@{js/app/building/customerBusiness/index.js}"></script>
<script data-th-src="@{js/app/building/customerBusiness/query-modal.js}"></script>