<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.system.dao.UserMapper">
    <resultMap id="user" type="cc.mrbird.system.domain.User">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="USER_ID" jdbcType="DECIMAL" property="userId"/>
        <result column="USERNAME" jdbcType="VARCHAR" property="username"/>
        <result column="PASSWORD" jdbcType="VARCHAR" property="password"/>
        <result column="DEPT_ID" jdbcType="DECIMAL" property="deptId"/>
        <result column="EMAIL" jdbcType="VARCHAR" property="email"/>
        <result column="MOBILE" jdbcType="VARCHAR" property="mobile"/>
        <result column="STATUS" jdbcType="CHAR" property="status"/>
        <result column="CRATE_TIME" jdbcType="TIMESTAMP" property="crateTime"/>
        <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="LAST_LOGIN_TIME" jdbcType="TIMESTAMP" property="lastLoginTime"/>
        <result column="SSEX" jdbcType="CHAR" property="ssex"/>
        <result column="THEME" jdbcType="VARCHAR" property="theme"/>
        <result column="AVATAR" jdbcType="VARCHAR" property="avatar"/>
        <result column="DESCRIPTION" jdbcType="VARCHAR" property="description"/>
        <result column="STAFF_ID" jdbcType="DECIMAL" property="staffId"/>
        <result column="STAFF_TYPE" jdbcType="DECIMAL" property="staffType"/>
    </resultMap>

    <select id="findByName" resultType="user">
        select u.user_id userId,
        u.username,
        u.password,
        u.dept_id deptId,
        u.email,
        u.mobile,
        u.status,
        u.crate_time crateTime,
        u.modify_time modifyTime,
        u.LAST_LOGIN_TIME lastLoginTime,
        u.ssex,
        u.theme theme,
        u.avatar,
        u.description,
        d.dept_name deptName,
        u.staff_id staffId,
        s.name staffName,
        s.region_id regionId,
        r.region_name regionName,
        u.staff_type staffType,
        decode(u.staff_type, 0, '超级管理员', 1, '区域管理员', 2, '普通人员') staffTypeName
        from t_user u, t_dept d, staff s, spc_region r
        where 1 = 1
        and u.dept_id = d.dept_id(+)
        and u.staff_id = s.staff_id(+)
        and s.region_id = r.region_id(+)
		and lower(u.username) = #{userName}
  </select>

    <select id="findUserWithDept" resultType="user" parameterType="user">
        select u.user_id userId,
        u.username,
        u.email,
        u.mobile,
        u.status,
        u.crate_time crateTime,
        u.ssex,
        d.dept_name deptName,
        u.staff_id staffId,
        s.name staffName,
        s.region_id regionId,
        r.region_name regionName,
        u.staff_type staffType,
        decode(u.staff_type, 0, '超级管理员', 1, '区域管理员', 2, '普通人员') staffTypeName
        from t_user u, t_dept d, staff s, spc_region r
        where 1 = 1
        and u.dept_id = d.dept_id(+)
        and u.staff_id = s.staff_id(+)
        and s.region_id = r.region_id(+)
        <if test="username != null and username != ''">
            <bind name="bindStaffName" value="'%' + staffName + '%'"/>
            AND lower(u.username) = #{username}
        </if>
        <if test="deptId != null and deptId != ''">
            AND d.dept_id = #{deptId}
        </if>
        <if test="ssex != null and ssex != ''">
            AND u.ssex = #{ssex}
        </if>
        <if test="status != null and status != ''">
            AND u.status = #{status}
        </if>
        <if test="staffName != null and staffName != ''">
            AND s.name like #{bindStaffName}
        </if>
        order by u.user_id desc
    </select>


    <select id="findUserWithRole" resultType="userWithRole">
        select u.user_id     userId,
               u.username,
               u.dept_id     deptId,
               u.email,
               u.mobile,
               u.status,
               u.ssex,
               ur.role_id    roleId,
               u.staff_id    staffId,
               s.name        staffName,
               s.region_id   regionId,
               r.region_name regionName,
        u.staff_type staffType,
        decode(u.staff_type, 0, '超级管理员', 1, '区域管理员', 2, '普通人员') staffTypeName
          from t_user u, t_user_role ur, staff s, spc_region r
         where 1 = 1
           and u.user_id = ur.user_id(+)
           and u.staff_id = s.staff_id(+)
           and s.region_id = r.region_id(+)
		   and u.user_id = #{userId}
  </select>

    <select id="findUserProfile" resultType="user" parameterType="user">
        SELECT U.USERNAME,
               U.USER_ID userId,
               D.DEPT_NAME deptName,
               U.mobile,
               U.email,
               U.avatar,
               U.description,
               U.ssex,
               U.dept_id deptId,
               listagg(r.role_name, '，') WITHIN GROUP(ORDER BY r.role_id) AS roleName,
               u.staff_id staffId,
               s.name staffName,
               s.region_id regionId,
               r.region_name regionName,
        u.staff_type staffType,
        decode(u.staff_type, 0, '超级管理员', 1, '区域管理员', 2, '普通人员') staffTypeName
          FROM t_user U
          LEFT JOIN t_dept D
            ON U.DEPT_ID = D.DEPT_ID
          LEFT JOIN T_USER_ROLE ur
            ON U.user_id = ur.user_id
          LEFT JOIN t_role r
            ON r.role_id = ur.role_id
          left join staff s
            on (u.staff_id = s.staff_id)
          left join spc_region r
            on (s.region_id = r.region_id)
         WHERE 1 = 1
           and U .USER_ID = #{userId}
         GROUP BY U.username,
                  D.dept_name,
                  U.mobile,
                  U.email,
                  U.avatar,
                  U.description,
                  U.ssex,
                  U.USER_ID,
                  U.dept_id,
                  u.staff_id,
                  s.name,
                  s.region_id,
                  r.region_name,
                  u.staff_type
  </select>
</mapper>