.common-box-margin {
    /*margin-top: 30px;*/
    /*padding-top: 15px;*/
    /*padding-bottom: 15px;*/
}

.common-footer {
    color: #333;
}

.common-footer p {
    color: #333;
}

.common-footer a {
    color: #333;
}

@media (min-width: 992px) {
    .modal-common-middle {
        max-width: 700px;
    }
}

@media (min-width: 992px) {
    .modal-common-large {
        max-width: 900px;
    }
}

.box {
    border-top: 0;
    margin-bottom: 10px;
}

.common-box-title {
    margin: 0;
    font-size: 14px;
}

.change-box .change-inner {
    /*display: inline-block;*/
}

.change-col {
    /*background-color: #F6F6F6;*/
}

.change-col .col-lg-4 {
    padding-left: 0px;
    padding-right: 0px;
}

.common-box-margin {
    margin-top: 0px;
    padding-top: 0px;
    height: 120px;
    padding-bottom: 15px;
    /*min-width: 280px;*/
}

.change-col .change-box {
    box-shadow: none;
    background-color: #ffffff !important;
    margin-bottom: 0;
}

.change-col .change-box img {
    margin-left: 5%;
}

.change-col .change-box span {
    margin-left: 1.4%;
    color: #333333;
    font-size: 14px;
    padding-bottom: 5px;
    padding-right: 10px;
    display: inline;
}

.change-col .change-box .change-clue-red {
    border-bottom: 3px solid #FF7676;
}

.change-col .change-box .change-clue-blue {
    border-bottom: 3px solid #2CABE3;
}

.change-col .change-box .change-clue-green {
    border-bottom: 3px solid #54E69D;
}

.change-col .change-box h4 {
    color: #333333;
    font-size: 28px;
    position: relative;
    /*right: 23%;*/
}

.change-col .change-box .change-inner {
    /*float: right;*/
    /*position: relative;*/
    /*top: 25px;*/
    text-align: center;
}

.change-col .change-box .change-inner-clue {
    /*border-right: 1px solid #dddddd;*/
}

.change-title-row {
    display: block;
    margin-left: -15px;
}

.change-title-border {
    display: flex;
    align-items: center;
}

.change-title-border div {
    display: inline-block;
    width: 1px;
    height: 14px;
    border: 2.5px solid #ED1B23;
    border-radius: 2.5px;
    margin-left: 20px;
}

.change-title-border span {
    font-size: 14px;
    color: #333333;
    line-height: 30px;
    font-weight: bold;
    margin-left: 5px;
}