.common-box-margin {
    margin-top: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.common-footer {
    color: #333;
}

.common-footer p{
    color: #333;
}

.common-footer a {
    color: #333;
}