<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="edge"/>
    <title>江苏联通商务楼宇管理系统</title>
    <link rel="shortcut icon" type="image/png" th:href="@{/img/favicon.ico}"/>
    <!-- AdminLTE styles -->
    <link rel="stylesheet" data-th-href="@{js/plugins/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" data-th-href="@{js/plugins/adminlte/css/AdminLTE.min.css}">
    <link rel="stylesheet" data-th-href="@{js/plugins/adminlte/css/skins/_all-skins.min.css}">
    <link rel="stylesheet" th:href="@{css/plugins/iCheck/minimal/green.css}" type="text/css">
    <link rel="stylesheet" th:href="@{css/app.css}" type="text/css">
    <link rel="stylesheet" data-th-href="@{css/common.css}">
    <link rel="stylesheet" th:href="@{css/app/login.css}" type="text/css">
    <!-- Glyphicons -->
    <link rel="stylesheet" data-th-href="@{css/plugins/glyphicons.css}">
    <link rel="stylesheet" data-th-href="@{css/reset.css}">
    <!-- animate -->
    <link rel="stylesheet" th:href="@{css/plugins/animate/animate.min.css}" type="text/css">
    <script th:src="@{js/plugins/jquery.min.js}"></script>
    <script th:src="@{js/plugins/iCheck/icheck.js}"></script>
    <script th:src="@{js/plugins/bootstrap-notify/bootstrap-notify.min.js}"></script>
    <script th:src="@{js/common.js}"></script>
</head>
<style>

</style>
<body class="hold-transition login-page">
<section>
    <div class="login-logo-nav">
        <a href="index" class="login-logo"></a>江苏联通商务楼宇管理系统
    </div>
    <div class="row">
        <div class="col-sm-6 login-bg"></div>
        <div class="col-sm-6 login-box">
            <div class="login-box-body">
                <div class="login-form">
                    <div class="form-header">
                        <h4>欢迎登录</h4>
                    </div>
                    <div class="form-content">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input type="text" class="form-control" id='username' placeholder="帐号"
                                       autofocus>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input type="password" class="form-control" id='password'
                                       placeholder="密码">
                            </div>
                        </div>
                        <div class="form-group">
                            <p>
                                <input type="checkbox" id="rememberMe"/>
                                <span>记住我</span>
                            </p>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-danger btn-block" id="loginButton">
                                登录
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div data-th-include="common/footer"></div>
</body>
<script th:inline="javascript">
    var ctx = [[@{/}]];
</script>
<script data-th-src="@{js/app/login.js}"></script>
</html>