<div class="card" xmlns:shiro="http://www.w3.org/1999/xhtml">
    <!--<div data-th-include="building/customerExpiration/customerExpirationAdd"></div>-->
    <div class="card-block">
        <div class="table-responsive">
            <div id="data-table_wrapper" class="dataTables_wrapper">
                <div class="dataTables_buttons hidden-sm-down actions">
                    <span class="actions__item zmdi zmdi-search" id="search" title="搜索" />
                    <span class="actions__item zmdi zmdi-refresh-alt" id="refresh" title="重置查询条件" />
                    <div class="dropdown actions__item">
                        <i data-toggle="dropdown" class="zmdi zmdi-download"> </i>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <a href="javascript:void(0)" class="dropdown-item" data-table-action="excel" id="exportExcel">
							Excel (.xlsx) </a>
                            <a href="javascript:void(0)" class="dropdown-item" data-table-action="csv" id="exportCsv">
                                CSV (.csv) </a>
                        </ul>
                    </div>
                    <!--<div class="dropdown actions__item" shiro:hasAnyPermissions="businessOpportunity:add,businessOpportunity:delete,businessOpportunity:update">-->
                        <!--<i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>-->
                        <!--<div class="dropdown-menu dropdown-menu-right">-->
                            <!--<a href="javascript:void(0)" class="dropdown-item" data-toggle="modal" data-target="#businessOpportunity-add" shiro:hasPermission="businessOpportunity:add">新增商机</a>-->
                            <!--<a href="javascript:void(0)" class="dropdown-item" onclick="updateBusinessOpportunity()" shiro:hasPermission="businessOpportunity:update">修改商机</a>-->
                            <!--<a href="javascript:void(0)" class="dropdown-item" onclick="deleteBusinessOpportunity()" shiro:hasPermission="businessOpportunity:delete">删除商机</a>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
                <div id="data-table_filter" class="dataTables_filter">
                    <form class="customerExpiration-table-form">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon"> 楼宇编码： </span>
                                    <div class="form-group">
                                        <input type="text" name="buildingNo" class="form-control"> <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon"> 楼宇名称： </span>
                                    <div class="form-group">
                                        <input type="text" name="buildingName" class="form-control"> <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon"> 客户名称： </span>
                                    <div class="form-group">
                                        <input type="text" name="customerName" class="form-control"> <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon"> 提醒时间： </span>
                                    <div class="form-group">
                                        <input type="text" name="remindDate" class="form-control"> <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <table id="customerExpirationTable" data-mobile-responsive="true" class="mb-bootstrap-table text-nowrap"></table>
            </div>
        </div>
    </div>
</div>
<script data-th-src="@{js/app/building/customerExpiration/customerExpiration.js}"></script>
<script data-th-src="@{js/app/building/customerExpiration/customerExpirationEdit.js}"></script>