<div class="modal fade" id="customerExpiration-add" data-keyboard="false" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title pull-left" id="customerExpiration-add-modal-title">新增客户到期</h3>
            </div>
            <div class="modal-body">
                <form id="customerExpiration-add-form">
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon"> 楼宇编码：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="buildingNo" class="form-control">
                                    <input type="text" hidden name="customerExpirationId" class="form-control">
                                    <input type="text" hidden name="buildingId" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon"> 楼宇名称：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="buildingName" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon"> 客户名称：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="customerName" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon"> 是否需要提醒：</span>
                                <div class="form-group">
                                    <select class="form-control" name="remindFlag">
                                        <option value="" selected>---请选择---</option>
                                        <option value="0">不需要</option>
                                        <option value="1">需要</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row"  style="display:none;" id="remindId" >
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon">提醒时间：</span>
                                <div class='input-group date'>
                                    <input type='text' name="remindDate" class="form-control form_datetime" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-save" id="save-button" name="save">保存</button>
                <button type="button" class="btn btn-secondary btn-close" id="close-button">关闭</button>
                <button class="btn-hide"></button>
            </div>
        </div>
    </div>
</div>
<script data-th-src="@{js/app/building/customerExpiration/customerExpirationAdd.js}"></script>
