<div class="card" xmlns:shiro="http://www.w3.org/1999/xhtml">
    <div data-th-include="building/customerExpiration/customerExpirationAdd"></div>
    <div data-th-include="building/building/queryBuildingModal"></div>
    <div class="card-block">
        <div class="table-responsive">
            <div id="data-table_wrapper" class="dataTables_wrapper">
                <div class="change-title-row">
                    <div class="change-title-border">
                        <div></div>
                        <span>查询条件</span>
                    </div>
                </div>
                <div id="data-table_filter" class="dataTables_filter">
                    <form class="customerExpiration-table-form">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon"> 楼宇编码： </span>
                                    <div class="form-group">
                                        <input type="text" name="buildingNo" class="form-control"> <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon"> 楼宇名称： </span>
                                    <div class="form-group">
                                        <input type="text" name="buildingName" class="form-control"> <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon"> 客户名称： </span>
                                    <div class="form-group">
                                        <input type="text" name="customerName" class="form-control"> <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon"> 提醒时间： </span>
                                    <div class="form-group">
                                        <input type="text" name="remindDate" class="form-control form_datetime" readonly> <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="change-title-row">
                    <div class="change-title-border float-left">
                        <div></div>
                        <span>查询结果</span>
                    </div>
                    <div class="dataTables_buttons hidden-sm-down actions">
                        <span class="actions__item zmdi zmdi-search" id="search" title="搜索" />
                        <span class="actions__item zmdi zmdi-refresh-alt" id="refresh" title="重置查询条件" />
                        <div class="dropdown actions__item">
                            <i data-toggle="dropdown" class="zmdi zmdi-download"> </i>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <a href="javascript:void(0)" class="dropdown-item" data-table-action="excel" id="exportExcel">
                                    Excel (.xlsx) </a>
                                <a href="javascript:void(0)" class="dropdown-item" data-table-action="csv" id="exportCsv">
                                    CSV (.csv) </a>
                            </ul>
                        </div>
                        <div class="dropdown actions__item" shiro:hasAnyPermissions="customerExpiration:add,customerExpiration:delete,customerExpiration:update">
                            <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="javascript:void(0)" class="dropdown-item" data-toggle="modal" data-target="#customerExpiration-add" shiro:hasPermission="customerExpiration:add">新增客户到期</a>
                                <a href="javascript:void(0)" class="dropdown-item" id="update" shiro:hasPermission="customerExpiration:update">修改客户到期</a>
                                <a href="javascript:void(0)" class="dropdown-item" id="delete" shiro:hasPermission="customerExpiration:delete">删除客户到期</a>
                            </div>
                        </div>
                    </div>
                </div>
                <table id="customerExpirationTable" data-mobile-responsive="true" class="mb-bootstrap-table text-nowrap table-striped"></table>
            </div>
        </div>
    </div>
</div>
<script data-th-src="@{js/app/building/customerExpiration/customerExpiration.js}"></script>
<script data-th-src="@{js/app/building/customerExpiration/customerExpirationEdit.js}"></script>