<div class="card">
    <div class="card-block">
        <div class="table-responsive">
            <div class="dataTables_wrapper">
                <div class="change-title-row">
                    <div class="change-title-border">
                        <div></div>
                        <span>查询条件</span>
                    </div>
                </div>
                <div class="dataTables_filter">
                    <form class="region-table-form">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        区域名称：
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="regionName" class="form-control">
                                        <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        区域编码：
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="regionNo" class="form-control">
                                        <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        上级区域：
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="superRegionName" class="form-control">
                                        <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        区域等级：
                                    </div>
                                    <div class="form-group">
                                        <select name="gradeId" class="form-control">
                                            <option value="" selected>所有</option>
                                        </select>
                                        <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="change-title-row">
                    <div class="change-title-border float-left">
                        <div></div>
                        <span>查询结果</span>
                    </div>
                    <div class="dataTables_buttons hidden-sm-down actions">
                        <div class="actions__item zmdi zmdi-search region-search" title="搜索"></div>
                        <div class="actions__item zmdi zmdi-refresh-alt region-refresh" title="刷新"></div>
                        <div class="dropdown actions__item">
                            <i data-toggle="dropdown" class="zmdi zmdi-download">
                            </i>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <a href="javascript:void(0)" class="dropdown-item region-export-excel"
                                   data-table-action="excel">
                                    Excel (.xlsx)
                                </a>
                                <a href="javascript:void(0)" class="dropdown-item region-export-csv"
                                   data-table-action="csv">
                                    CSV (.csv)
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>
                <table id="regionTable" data-mobile-responsive="true"
                       class="mb-bootstrap-table text-nowrap table-striped"></table>
            </div>
        </div>
    </div>
</div>
<script data-th-src="@{js/app/system/region/index.js}"></script>