<div class="modal fade" id="compProduct-add" data-keyboard="false" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title pull-left" id="compProduct-add-modal-title">新增竞争产品</h3>
            </div>
            <div class="modal-body" id="compProductBody">
                <form id="compProduct-add-form">
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon"> 楼宇编码：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="buildingNo" class="form-control" readonly>
                                    <input type="text" hidden name="compProductId" class="form-control">
                                    <input type="text" hidden name="buildingId" class="form-control">
                                </div>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#queryBuilding-modal"  id="queryButton">获取楼宇信息</button>
					                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon"> 楼宇名称：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="buildingName" class="form-control" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon"> 运营商：</span>
                                <div class="form-group">
                                    <select class="form-control" name="operator">
                                        <option value="" selected>---请选择---</option>
                                        <option value="1">电信</option>
                                        <option value="2">移动</option>
                                        <option value="3">华数</option>
                                        <option value="0">其他</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon"> 业务类型：</span>
                                <div class="form-group">
                                    <select class="form-control" name="businessType">
                                        <option value="" selected>---请选择---</option>
                                        <option value="1">移动业务</option>
                                        <option value="2">固网业务</option>
                                        <option value="3">融合业务</option>
                                        <option value="4">创新业务</option>
                                        <option value="0">其他</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon"> 资费描述：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="introduction" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon"> 附件上传：
					            </span>
                                <div class="form-group">
                                    <input name="uploadFlag" hidden type="text">
                                    <input  name="docName" hidden type="text">
                                    <input type="file" id="pictureFile" multiple class="file-loading">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-save" id="save-button" name="save">保存</button>
                <button type="button" class="btn btn-secondary btn-close" id="close-button">关闭</button>
                <button class="btn-hide"></button>
            </div>
        </div>
    </div>
</div>
<script data-th-src="@{js/app/building/compProduct/compProductAdd.js}"></script>
<script data-th-src="@{js/app/building/building/queryBuildingModal.js}"></script>
