<div class="modal fade" id="compProduct-doc" data-keyboard="false" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog common_modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title pull-left" id="compProduct-doc-modal-title">查看附件</h3>
            </div>
            <div class="modal-body" id="compProductDocBody">
                <form>
                    <img id="imgId"  height="100%"  width="100%"/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-close" id="close-button">关闭</button>
                <button class="btn-hide"></button>
            </div>
        </div>
    </div>
</div>
<script data-th-src="@{js/app/building/compProduct/compProductDoc.js}"></script>