<div class="card" xmlns:shiro="http://www.w3.org/1999/xhtml">
    <div data-th-include="building/compProduct/compProductAdd"></div>
    <div class="card-block">
        <div class="table-responsive">
            <div id="data-table_wrapper" class="dataTables_wrapper">
                <div class="dataTables_buttons hidden-sm-down actions">
                    <span class="actions__item zmdi zmdi-search" id="search" title="搜索" />
                    <span class="actions__item zmdi zmdi-refresh-alt" id="refresh" title="重置查询条件" />
                    <div class="dropdown actions__item">
                        <i data-toggle="dropdown" class="zmdi zmdi-download"> </i>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <a href="javascript:void(0)" class="dropdown-item" data-table-action="excel" id="exportExcel">
							Excel (.xlsx) </a>
                            <a href="javascript:void(0)" class="dropdown-item" data-table-action="csv" id="exportCsv">
                                CSV (.csv) </a>
                        </ul>
                    </div>
                    <div class="dropdown actions__item" shiro:hasAnyPermissions="compProduct:add,compProduct:delete,compProduct:update">
                        <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="javascript:void(0)" class="dropdown-item" data-toggle="modal" data-target="#compProduct-add" shiro:hasPermission="compProduct:add">新增竞争产品</a>
                            <a href="javascript:void(0)" class="dropdown-item" id="update" shiro:hasPermission="compProduct:update">修改竞争产品</a>
                            <a href="javascript:void(0)" class="dropdown-item" id="delete" shiro:hasPermission="compProduct:delete">删除竞争产品</a>
                        </div>
                    </div>
                </div>
                <div id="data-table_filter" class="dataTables_filter">
                    <form class="compProduct-table-form">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon"> 楼宇编码： </span>
                                    <div class="form-group">
                                        <input type="text" name="buildingNo" class="form-control"> <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon"> 楼宇名称： </span>
                                    <div class="form-group">
                                        <input type="text" name="buildingName" class="form-control"> <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon"> 运营商： </span>
                                    <div class="form-group">
                                        <select class="form-control" name="operator">
                                            <option value="" selected>---请选择---</option>
                                            <option value="1">电信</option>
                                            <option value="2">移动</option>
                                            <option value="3">华数</option>
                                            <option value="0">其他</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon"> 业务类型： </span>
                                    <div class="form-group">
                                        <select class="form-control" name="businessType">
                                            <option value="" selected>---请选择---</option>
                                            <option value="1">移动业务</option>
                                            <option value="2">固网业务</option>
                                            <option value="3">融合业务</option>
                                            <option value="4">创新业务</option>
                                            <option value="0">其他</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <table id="compProductTable" data-mobile-responsive="true" class="mb-bootstrap-table text-nowrap"></table>
            </div>
        </div>
    </div>
</div>
<script data-th-src="@{js/app/building/compProduct/compProduct.js}"></script>
<script data-th-src="@{js/app/building/compProduct/compProductEdit.js}"></script>