<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.building.dao.BuildingMapper">
    <resultMap id="building" type="cc.mrbird.building.domain.Building">
        <id column="buildingId" property="buildingId"/>
        <result column="dsRegionId" property="dsRegionId"/>
        <result column="dsRegionName" property="dsRegionName"/>
        <result column="regionId" property="regionId"/>
        <result column="regionName" property="regionName"/>
        <result column="buildingNo" property="buildingNo"/>
        <result column="buildingName" property="buildingName"/>
        <result column="buildingLevel" property="buildingLevel"/>
        <result column="buildingLevelName" property="buildingLevelName"/>
        <result column="buildingType" property="buildingType"/>
        <result column="buildingTypeDesc" property="buildingTypeDesc"/>
        <result column="buildingTypeName" property="buildingTypeName"/>
        <result column="buildingAddress" property="buildingAddress"/>
        <result column="longitude" property="longitude"/>
        <result column="latitude" property="latitude"/>
        <result column="floorNumber" property="floorNumber"/>
        <result column="area" property="area"/>
        <result column="householderNumber" property="householderNumber"/>
        <result column="propertyCompany" property="propertyCompany"/>
        <result column="propertyManager" property="propertyManager"/>
        <result column="propertyManagerContact" property="propertyManagerContact"/>
        <result column="buildingManagerId" property="buildingManagerId"/>
        <result column="buildingManager" property="buildingManager"/>
        <result column="buildingManagerContact" property="buildingManagerContact"/>
        <result column="state" property="state"/>
        <result column="stateName" property="stateName"/>
        <result column="remark" property="remark"/>
        <result column="segmId" property="segmId"/>
        <result column="standName" property="standName"/>
        <result column="accessAreaId" property="accessAreaId"/>
        <result column="accessAreaName" property="accessAreaName"/>
        <result column="roomId" property="roomId"/>
        <result column="roomName" property="roomName"/>
        <result column="lightName" property="lightName"/>
        <result column="lightAddress" property="lightAddress"/>
        <result column="lightLongitude" property="lightLongitude"/>
        <result column="lightLatitude" property="lightLatitude"/>
        <result column="roomCabinetFlag" property="roomCabinetFlag"/>
        <result column="roomCabinetFlagName" property="roomCabinetFlagName"/>
        <result column="cableAccessFlag" property="cableAccessFlag"/>
        <result column="cableAccessFlagName" property="cableAccessFlagName"/>
        <result column="cableNumber" property="cableNumber"/>
        <result column="cableRemainNumber" property="cableRemainNumber"/>
        <result column="verticalCoverageFlag" property="verticalCoverageFlag"/>
        <result column="verticalCoverageFlagName" property="verticalCoverageFlagName"/>
        <result column="horizontalCoverageFlag" property="horizontalCoverageFlag"/>
        <result column="horizontalCoverageFlagName" property="horizontalCoverageFlagName"/>
        <result column="coverageMethod" property="coverageMethod"/>
        <result column="coverageMethodName" property="coverageMethodName"/>
        <result column="cooperationMethod" property="cooperationMethod"/>
        <result column="cooperationMethodName" property="cooperationMethodName"/>
        <result column="indoorDistributionFlag" property="indoorDistributionFlag"/>
        <result column="indoorDistributionFlagName" property="indoorDistributionFlagName"/>
        <result column="coverageNetworkStandard" property="coverageNetworkStandard"/>
        <result column="coverageNetworkStandardName" property="coverageNetworkStandardName"/>
        <result column="wlanFlag" property="wlanFlag"/>
        <result column="wlanFlagName" property="wlanFlagName"/>
        <result column="createStaffName" property="createStaffName"/>
        <result column="createDate" property="createDate"/>

        <result column="inspectionType" property="inspectionType"/>
        <association property="inspectionTotal" column="{inspectionType=inspectionType,inspectionNo=buildingNo}"
                     select="cc.mrbird.building.dao.InspectionMapper.findTotal"/>
    </resultMap>

    <sql id="findCommon">
        select t.building_id as buildingId,
        ds.region_id as dsRegionId,
        ds.region_name as dsRegionName,
        t.region_id as regionId,
        r.region_name as regionName,
        t.building_no as buildingNo,
        t.building_name as buildingName,
        1 as inspectionType,
        t.building_level as buildingLevel,
        decode(t.building_level, 0, '其它', 1, 'A', 2, 'B', 3, 'C') as buildingLevelName,
        t.building_type as buildingType,
        decode(t.building_type,
        'SQQT',
        '商企其他',
        'SQLY',
        '商务楼宇',
        'SQYQ',
        '园区',
        'SQSC',
        '专业市场',
        'SQSS',
        '厂企宿舍',
        'SQWB',
        '网吧',
        'SQJD',
        '宾馆酒店') as buildingTypeDesc,
        t.building_type_name as buildingTypeName,
        t.building_address as buildingAddress,
        t.longitude as longitude,
        t.latitude as latitude,
        t.floor_number as floorNumber,
        t.area as area,
        t.householder_number as householderNumber,
        t.property_company as propertyCompany,
        t.property_manager as propertyManager,
        t.property_manager_contact as propertyManagerContact,
        t.building_manager_id as buildingManagerId,
        bm.name as buildingManager,
        bm.phone_no as buildingManagerContact,
        t.state as state,
        decode(t.state, 0, '待覆盖', 1, '已覆盖') as stateName,
        t.remark as remark,
        t.segm_id as segmId,
        a.stand_name as standName,
        t.access_area_id as accessAreaId,
        area.access_area_name as accessAreaName,
        t.room_id as roomId,
        room.China_Name as roomName,
        t.light_name as lightName,
        t.light_address as lightAddress,
        t.light_longitude as lightLongitude,
        t.light_latitude as lightLatitude,
        t.room_cabinet_flag as roomCabinetFlag,
        decode(t.room_cabinet_flag, 0, '无', 1, '机房', 2, '机柜') as roomCabinetFlagName,
        t.cable_access_flag as cableAccessFlag,
        decode(t.cable_access_flag, 0, '否', 1, '是') as cableAccessFlagName,
        t.cable_number as cableNumber,
        t.cable_remain_number as cableRemainNumber,
        t.vertical_coverage_flag as verticalCoverageFlag,
        decode(t.vertical_coverage_flag, 0, '否', 1, '是') as verticalCoverageFlagName,
        t.horizontal_coverage_flag as horizontalCoverageFlag,
        decode(t.horizontal_coverage_flag, 0, '否', 1, '是') as horizontalCoverageFlagName,
        t.coverage_method as coverageMethod,
        decode(t.coverage_method, 1, 'LAN', 2, 'FTTB', 3, 'FTTH') as coverageMethodName,
        t.cooperation_method as cooperationMethod,
        decode(t.cooperation_method, 1, '自建', 2, '合建') as cooperationMethodName,
        t.indoor_distribution_flag as indoorDistributionFlag,
        decode(t.indoor_distribution_flag, 0, '否', 1, '是') as indoorDistributionFlagName,
        t.coverage_network_standard as coverageNetworkStandard,
        decode(t.coverage_network_standard,
        0,
        '无',
        1,
        '2G/3G',
        2,
        '2G/3G/4G',
        3,
        '2G/4G',
        4,
        '3G',
        5,
        '3G/4G') as coverageNetworkStandardName,
        t.wlan_flag as wlanFlag,
        decode(t.wlan_flag, 0, '否', 1, '是') as wlanFlagName,
        s.name as createStaffName,
        t.create_date as createDate
        from BD_BUILDING t,
        staff bm,
        staff s,
        SPC_REGION r,
        SPC_REGION ds,
        ADDR_SEGM a,
        SPC_ACCESS_AREA area,
        SPC_ROOM room
        where t.delete_flag = 0
        and t.building_manager_id = bm.staff_id
        and t.create_staff_id = s.staff_id
        and t.region_id = r.region_id
        and r.super_region_id = ds.region_id
        and t.segm_id = a.segm_id(+)
        and t.access_area_id = area.access_area_id(+)
        and t.room_id = room.room_id(+)
    </sql>

    <select id="findAll" resultMap="building" parameterType="cc.mrbird.building.domain.Building">
        <include refid="findCommon"/>
        <if test="dsRegionId != null and dsRegionId != ''">
            AND t.region_id in
            (select r.region_id
            from spc_region r
            start with r.region_id = #{dsRegionId}
            connect by prior r.region_id = r.super_region_id)
        </if>
        <if test="regionId != null and regionId != ''">
            AND t.region_id = #{regionId}
        </if>
        <if test="buildingNo != null and buildingNo != ''">
            <bind name="bindBuildingNo" value="'%' + buildingNo + '%'"/>
            AND t.building_no like #{bindBuildingNo}
        </if>
        <if test="buildingName != null and buildingName != ''">
            <bind name="bindBuildingName" value="'%' + buildingName + '%'"/>
            AND t.building_name like #{bindBuildingName}
        </if>
        <if test="buildingType != null and buildingType != ''">
            AND t.building_type = #{buildingType}
        </if>
        <if test="buildingTypeName != null and buildingTypeName != ''">
            <bind name="bindBuildingTypeName" value="'%' + buildingTypeName + '%'"/>
            AND t.building_type_name like #{bindBuildingTypeName}
        </if>
        <if test="buildingAddress != null and buildingAddress != ''">
            <bind name="bindBuildingAddress" value="'%' + buildingAddress + '%'"/>
            AND t.building_address like #{bindBuildingAddress}
        </if>
        <if test="state != null">
            AND t.state = #{state}
        </if>
        order by t.building_id desc
    </select>


    <select id="findById" resultType="cc.mrbird.building.domain.Building">
        <include refid="findCommon"/>
        and t.building_id = #{buildingId}
        order by t.building_id desc
    </select>

    <select id="getBuildingNo" resultType="String">
        select lpad(count(t.building_id) + 1, 5, '0') as seq
          from BD_BUILDING t
        where t.building_type = #{buildingType}
  </select>
</mapper>