<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.building.dao.BuildingMapper">
    <resultMap id="building" type="cc.mrbird.building.domain.Building">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="BUILDING_ID" jdbcType="DECIMAL" property="buildingId"/>
        <result column="BUILDING_NO" jdbcType="VARCHAR" property="buildingNo"/>
        <result column="BUILDING_NAME" jdbcType="VARCHAR" property="buildingName"/>
        <result column="BUILDING_LEVEL" jdbcType="VARCHAR" property="buildingLevel"/>
        <result column="BUILDING_TYPE" jdbcType="VARCHAR" property="buildingType"/>
        <result column="BUILDING_TYPE_NAME" jdbcType="VARCHAR" property="buildingTypeName"/>
        <result column="BUILDING_ADDRESS" jdbcType="VARCHAR" property="buildingAddress"/>
        <result column="REGION_ID" jdbcType="VARCHAR" property="regionId"/>
        <result column="LONGITUDE" jdbcType="DECIMAL" property="longitude"/>
        <result column="LATITUDE" jdbcType="DECIMAL" property="latitude"/>
        <result column="FLOOR_NUMBER" jdbcType="DECIMAL" property="floorNumber"/>
        <result column="AREA" jdbcType="DECIMAL" property="area"/>
        <result column="HOUSEHOLDER_NUMBER" jdbcType="DECIMAL" property="householderNumber"/>
        <result column="PROPERTY_COMPANY" jdbcType="VARCHAR" property="propertyCompany"/>
        <result column="PROPERTY_MANAGER" jdbcType="VARCHAR" property="propertyManager"/>
        <result column="PROPERTY_MANAGER_CONTACT" jdbcType="VARCHAR" property="propertyManagerContact"/>
        <result column="BUILDING_MANAGER_ID" jdbcType="DECIMAL" property="buildingManagerId"/>
        <result column="STATE" jdbcType="DECIMAL" property="state"/>
        <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
        <result column="SEGM_ID" jdbcType="VARCHAR" property="segmId"/>
        <result column="ACCESS_AREA_ID" jdbcType="VARCHAR" property="accessAreaId"/>
        <result column="ROOM_ID" jdbcType="VARCHAR" property="roomId"/>
        <result column="LIGHT_NAME" jdbcType="VARCHAR" property="lightName"/>
        <result column="LIGHT_ADDRESS" jdbcType="VARCHAR" property="lightAddress"/>
        <result column="LIGHT_LONGITUDE" jdbcType="DECIMAL" property="lightLongitude"/>
        <result column="LIGHT_LATITUDE" jdbcType="DECIMAL" property="lightLatitude"/>
        <result column="ROOM_CABINET_FLAG" jdbcType="DECIMAL" property="roomCabinetFlag"/>
        <result column="CABLE_ACCESS_FLAG" jdbcType="DECIMAL" property="cableAccessFlag"/>
        <result column="CABLE_NUMBER" jdbcType="DECIMAL" property="cableNumber"/>
        <result column="CABLE_REMAIN_NUMBER" jdbcType="DECIMAL" property="cableRemainNumber"/>
        <result column="VERTICAL_COVERAGE_FLAG" jdbcType="DECIMAL" property="verticalCoverageFlag"/>
        <result column="HORIZONTAL_COVERAGE_FLAG" jdbcType="DECIMAL" property="horizontalCoverageFlag"/>
        <result column="COVERAGE_METHOD" jdbcType="DECIMAL" property="coverageMethod"/>
        <result column="COOPERATION_METHOD" jdbcType="DECIMAL" property="cooperationMethod"/>
        <result column="INDOOR_DISTRIBUTION_FLAG" jdbcType="DECIMAL" property="indoorDistributionFlag"/>
        <result column="COVERAGE_NETWORK_STANDARD" jdbcType="DECIMAL" property="coverageNetworkStandard"/>
        <result column="WLAN_FLAG" jdbcType="DECIMAL" property="wlanFlag"/>
        <result column="DELETE_FLAG" jdbcType="DECIMAL" property="deleteFlag"/>
        <result column="CREATE_STAFF_ID" jdbcType="DECIMAL" property="createStaffId"/>
        <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="MODIFY_STAFF_ID" jdbcType="DECIMAL" property="modifyStaffId"/>
        <result column="MODIFY_DATE" jdbcType="TIMESTAMP" property="modifyDate"/>
        <result column="MODIFY_OP" jdbcType="VARCHAR" property="modifyOp"/>
    </resultMap>

    <select id="findAll" resultType="cc.mrbird.building.domain.Building">
        <bind name="bindBuildingName" value="'%' + buildingName + '%'"/>
        select t.building_id as buildingId,
        ds.region_id as dsRegionId,
        ds.region_name as dsRegionName,
        t.region_id as regionId,
        r.region_name as regionName,
        t.building_no as buildingNo,
        t.building_name as buildingName,
        t.building_level as buildingLevel,
        decode(t.building_level, 0, '其它', 1, 'A', 2, 'B', 3, 'C') as buildingLevelName,
        t.building_type as buildingType,
        decode(t.building_type,
        'QT',
        '其它',
        'XZ',
        '写字楼',
        'SC',
        '专业市场',
        'GX',
        '高校校园',
        'YQ',
        '工业园区',
        'JD',
        '酒店') as buildingTypeDesc,
        t.building_type_name as buildingTypeName,
        t.building_address as buildingAddress,
        t.longitude as longitude,
        t.latitude as latitude,
        t.floor_number as floorNumber,
        t.area as area,
        t.householder_number as householderNumber,
        t.property_company as propertyCompany,
        t.property_manager as propertyManager,
        t.property_manager_contact as propertyManagerContact,
        t.building_manager_id as buildingManagerId,
        bm.name as buildingManager,
        bm.phone_no as buildingManagerContact,
        t.state as state,
        decode(t.state, 0, '待覆盖', 1, '已覆盖') as stateName,
        t.remark as remark,
        t.segm_id as segmId,
        a.stand_name as standName,
        t.access_area_id as accessAreaId,
        area.access_area_name as accessAreaName,
        t.room_id as roomId,
        room.China_Name as roomName,
        t.light_name as lightName,
        t.light_address as lightAddress,
        t.light_longitude as lightLongitude,
        t.light_latitude as lightLatitude,
        t.room_cabinet_flag as roomCabinetFlag,
        decode(t.room_cabinet_flag, 0, '无', 1, '机房', 2, '机柜') as roomCabinetFlagName,
        t.cable_access_flag as cableAccessFlag,
        decode(t.cable_access_flag, 0, '否', 1, '是') as cableAccessFlagName,
        t.cable_number as cableNumber,
        t.cable_remain_number as cableRemainNumber,
        t.vertical_coverage_flag as verticalCoverageFlag,
        decode(t.vertical_coverage_flag, 0, '否', 1, '是') as verticalCoverageFlagName,
        t.horizontal_coverage_flag as horizontalCoverageFlag,
        decode(t.horizontal_coverage_flag, 0, '否', 1, '是') as horizontalCoverageFlagName,
        t.coverage_method as coverageMethod,
        decode(t.coverage_method, 1, 'LAN', 2, 'FTTB', 3, 'FTTH') as coverageMethodName,
        t.cooperation_method as cooperationMethod,
        decode(t.cooperation_method, 1, '自建', 2, '合建') as cooperationMethodName,
        t.indoor_distribution_flag as indoorDistributionFlag,
        decode(t.indoor_distribution_flag, 0, '否', 1, '是') as indoorDistributionFlagName,
        t.coverage_network_standard as coverageNetworkStandard,
        decode(t.coverage_network_standard,
        0,
        '无',
        1,
        '2G/3G',
        2,
        '2G/3G/4G',
        3,
        '2G/4G',
        4,
        '3G',
        5,
        '3G/4G') as coverageNetworkStandardName,
        t.wlan_flag as wlanFlag,
        decode(t.wlan_flag, 0, '否', 1, '是') as wlanFlagName,
        s.name as createStaffName,
        t.create_date as createDate
        from BD_BUILDING t,
        staff bm,
        staff s,
        SPC_REGION r,
        SPC_REGION ds,
        ADDR_SEGM a,
        SPC_ACCESS_AREA area,
        SPC_ROOM room
        where t.delete_flag = 0
        and t.building_manager_id = bm.staff_id
        and t.create_staff_id = s.staff_id
        and t.region_id = r.region_id
        and r.super_region_id = ds.region_id
        and t.segm_id = a.segm_id(+)
        and t.access_area_id = area.access_area_id(+)
        and t.room_id = room.room_id(+)
        <if test="buildingName != null and buildingName != ''">
            AND t.building_name like #{bindBuildingName}
        </if>
        order by t.building_id desc
    </select>


    <select id="findById" resultType="cc.mrbird.building.domain.Building">
        select t.building_id as buildingId,
        ds.region_id as dsRegionId,
        ds.region_name as dsRegionName,
        t.region_id as regionId,
        r.region_name as regionName,
        t.building_no as buildingNo,
        t.building_name as buildingName,
        t.building_level as buildingLevel,
        decode(t.building_level, 0, '其它', 1, 'A', 2, 'B', 3, 'C') as buildingLevelName,
        t.building_type as buildingType,
        decode(t.building_type,
        'QT',
        '其它',
        'XZ',
        '写字楼',
        'SC',
        '专业市场',
        'GX',
        '高校校园',
        'YQ',
        '工业园区',
        'JD',
        '酒店') as buildingTypeDesc,
        t.building_type_name as buildingTypeName,
        t.building_address as buildingAddress,
        t.longitude as longitude,
        t.latitude as latitude,
        t.floor_number as floorNumber,
        t.area as area,
        t.householder_number as householderNumber,
        t.property_company as propertyCompany,
        t.property_manager as propertyManager,
        t.property_manager_contact as propertyManagerContact,
        t.building_manager_id as buildingManagerId,
        bm.name as buildingManager,
        bm.phone_no as buildingManagerContact,
        t.state as state,
        decode(t.state, 0, '待覆盖', 1, '已覆盖') as stateName,
        t.remark as remark,
        t.segm_id as segmId,
        a.stand_name as standName,
        t.access_area_id as accessAreaId,
        area.access_area_name as accessAreaName,
        t.room_id as roomId,
        room.China_Name as roomName,
        t.light_name as lightName,
        t.light_address as lightAddress,
        t.light_longitude as lightLongitude,
        t.light_latitude as lightLatitude,
        t.room_cabinet_flag as roomCabinetFlag,
        decode(t.room_cabinet_flag, 0, '无', 1, '机房', 2, '机柜') as roomCabinetFlagName,
        t.cable_access_flag as cableAccessFlag,
        decode(t.cable_access_flag, 0, '否', 1, '是') as cableAccessFlagName,
        t.cable_number as cableNumber,
        t.cable_remain_number as cableRemainNumber,
        t.vertical_coverage_flag as verticalCoverageFlag,
        decode(t.vertical_coverage_flag, 0, '否', 1, '是') as verticalCoverageFlagName,
        t.horizontal_coverage_flag as horizontalCoverageFlag,
        decode(t.horizontal_coverage_flag, 0, '否', 1, '是') as horizontalCoverageFlagName,
        t.coverage_method as coverageMethod,
        decode(t.coverage_method, 1, 'LAN', 2, 'FTTB', 3, 'FTTH') as coverageMethodName,
        t.cooperation_method as cooperationMethod,
        decode(t.cooperation_method, 1, '自建', 2, '合建') as cooperationMethodName,
        t.indoor_distribution_flag as indoorDistributionFlag,
        decode(t.indoor_distribution_flag, 0, '否', 1, '是') as indoorDistributionFlagName,
        t.coverage_network_standard as coverageNetworkStandard,
        decode(t.coverage_network_standard,
        0,
        '无',
        1,
        '2G/3G',
        2,
        '2G/3G/4G',
        3,
        '2G/4G',
        4,
        '3G',
        5,
        '3G/4G') as coverageNetworkStandardName,
        t.wlan_flag as wlanFlag,
        decode(t.wlan_flag, 0, '否', 1, '是') as wlanFlagName,
        s.name as createStaffName,
        t.create_date as createDate
        from BD_BUILDING t,
        staff bm,
        staff s,
        SPC_REGION r,
        SPC_REGION ds,
        ADDR_SEGM a,
        SPC_ACCESS_AREA area,
        SPC_ROOM room
        where t.delete_flag = 0
        and t.building_manager_id = bm.staff_id
        and t.create_staff_id = s.staff_id
        and t.region_id = r.region_id
        and r.super_region_id = ds.region_id
        and t.segm_id = a.segm_id(+)
        and t.access_area_id = area.access_area_id(+)
        and t.room_id = room.room_id(+)
        and t.building_id = #{buildingId}
        order by t.building_id desc
    </select>
</mapper>