<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.building.dao.CustomerMapper">
    <resultMap id="customer" type="cc.mrbird.building.domain.Customer">
        <id column="customerId" property="customerId"/>
        <result column="dsRegionId" property="dsRegionId"/>
        <result column="dsRegionName" property="dsRegionName"/>
        <result column="regionId" property="regionId"/>
        <result column="regionName" property="regionName"/>
        <result column="customerNo" property="customerNo"/>
        <result column="customerName" property="customerName"/>
        <result column="industryType" property="industryType"/>
        <result column="industryTypeName" property="industryTypeName"/>
        <result column="keyPerson" property="keyPerson"/>
        <result column="keyPersonContact" property="keyPersonContact"/>
        <result column="remark" property="remark"/>
        <result column="createDate" property="createDate"/>

        <result column="inspectionType" property="inspectionType"/>
        <association property="inspectionTotal" column="{inspectionType=inspectionType,inspectionNo=customerNo}"
                     select="cc.mrbird.building.dao.InspectionMapper.findTotal"/>
        <association property="customerBusinessTotal" column="{customerId=customerId}"
                     select="cc.mrbird.building.dao.CustomerBusinessMapper.findTotal"/>
        <association property="monthFee" column="{customerId=customerId}"
                     select="cc.mrbird.building.dao.CustomerBusinessMapper.monthFeeTotal"/>
        <association property="buildingTotal" column="{customerNo=customerNo}"
                     select="cc.mrbird.building.dao.BuildingCustomerRpMapper.findBuildingTotal"/>
    </resultMap>

    <select id="findAll" resultMap="customer" parameterType="cc.mrbird.building.domain.Customer">
        select t.customer_id as customerId,
        ds.region_id as dsRegionId,
        ds.region_name as dsRegionName,
        t.region_id as regionId,
        r.region_name as regionName,
        t.customer_no as customerNo,
        t.customer_name as customerName,
        2 as inspectionType,
        t.industry_type as industryType,
        decode(t.industry_type,
        201,
        '生产制造',
        202,
        '批发零售',
        203,
        '信息技术',
        204,
        '金融保险',
        205,
        '政企机构及社会团体',
        206,
        '教育培训',
        207,
        '酒店住宿',
        208,
        '其他') as industryTypeName,
        t.key_person as keyPerson,
        t.key_person_contact as keyPersonContact,
        t.month_fee as monthFee,
        t.remark as remark,
        t.create_date as createDate
        from BD_CUSTOMER t, SPC_REGION r, SPC_REGION ds
        where t.delete_flag = 0
        and t.region_id = r.region_id
        and r.super_region_id = ds.region_id
        <if test="dsRegionId != null and dsRegionId != ''">
            AND t.region_id in
            (select r.region_id
            from spc_region r
            start with r.region_id = #{dsRegionId}
            connect by prior r.region_id = r.super_region_id)
        </if>
        <if test="regionId != null and regionId != ''">
            AND t.region_id = #{regionId}
        </if>
        <if test="customerNo != null and customerNo != ''">
            <bind name="bindCustomerNo" value="'%' + customerNo + '%'"/>
            AND t.customer_no like #{bindCustomerNo}
        </if>
        <if test="customerName != null and customerName != ''">
            AND t.customer_name like #{bindCustomerName}
            <bind name="bindCustomerName" value="'%' + customerName + '%'"/>
        </if>
        order by t.customer_id desc
    </select>
</mapper>