<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.building.dao.CustomerExpirationMapper">
  <resultMap id="BaseResultMap" type="cc.mrbird.building.domain.CustomerExpiration">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="CUSTOMER_EXPIRATION_ID" jdbcType="DECIMAL" property="customerExpirationId" />
    <result column="BUILDING_ID" jdbcType="DECIMAL" property="buildingId" />
    <result column="CUSTOMER_NAME" jdbcType="VARCHAR" property="customerName" />
    <result column="REMIND_DATE" jdbcType="TIMESTAMP" property="remindDate" />
    <result column="DELETE_FLAG" jdbcType="DECIMAL" property="deleteFlag" />
    <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
    <result column="REMIND_FLAG" jdbcType="DECIMAL" property="remindFlag" />
  </resultMap>

    <sql id="selectColumn">
        a.building_no as buildingNo,a.building_name as buildingName, t.CUSTOMER_EXPIRATION_ID as
        customerExpirationId,t.BUILDING_ID as buildingId,t.CUSTOMER_NAME as customerName, to_char(t.REMIND_DATE, 'yyyy-mm-dd') as remindDate,
        t.DELETE_FLAG as deleteFlag, t.CREATE_DATE as createDate, t.REMIND_FLAG as remindFlag,decode(t.REMIND_FLAG, 0, '不需要', 1, '需要') as remindFlagName

    </sql>

    <select id="queryCustomerExpiration" resultType="cc.mrbird.building.domain.CustomerExpiration">
        select
        <include refid="selectColumn"/>
        from bd_customer_expiration t
        join bd_building a on t.building_id = a.building_id
        join SPC_REGION r  on a.region_id = r.region_id
        join SPC_REGION ds on r.super_region_id = ds.region_id
        where t.delete_flag = 0 and a.delete_flag = 0
        <if test="createStaffId != null">
            and a.CREATE_STAFF_ID = #{createStaffId}
        </if>
        <if test="dsRegionId != null and dsRegionId != ''">
            AND a.region_id in
            (select r.region_id
            from spc_region r
            start with r.region_id = #{dsRegionId}
            connect by prior r.region_id = r.super_region_id)
        </if>
        <if test="regionId != null and regionId != ''">
            AND a.region_id = #{regionId}
        </if>
        <if test="buildingNo != null and buildingNo != ''">
            AND t.building_id = (select A.building_id from bd_building A where A.building_no like
            '%'||#{buildingNo}||'%')
        </if>
        <if test="buildingName != null and buildingName != ''">
            AND t.building_id in (select A.building_id from bd_building A where A.building_name like
            '%'||#{buildingName}||'%')
        </if>
        <if test="customerName != null and customerName != ''">
            AND t.customer_name like '%'||#{customerName}||'%'
        </if>
        <if test="remindDate != null and remindDate != ''">
            AND to_char(t.remind_date, 'yyyy-mm-dd') like '%'||#{remindDate}||'%'
        </if>
        order by t.customer_expiration_id desc

    </select>

    <insert id="addCustomerExpiration" useGeneratedKeys="true">
        <selectKey resultType="Long" order="BEFORE" keyProperty="customerExpirationId">
            select seq_bd_customer_expiration.nextval as customerExpirationId from dual
        </selectKey>
        insert into bd_customer_expiration(CUSTOMER_EXPIRATION_ID,BUILDING_ID,CUSTOMER_NAME,DELETE_FLAG,CREATE_DATE,REMIND_FLAG,REMIND_DATE)
        values
        (#{customerExpirationId},#{buildingId},#{customerName},#{deleteFlag},
                 #{createDate},#{remindFlag},to_date(#{remindDate},'YYYY-MM-DD'))

    </insert>

    <!-- 通过id查询项目信息 -->
    <select id="findById" resultType="cc.mrbird.building.domain.CustomerExpiration">
        select
        <include refid="selectColumn"/>
        from bd_customer_expiration t
        join bd_building a on t.building_id = a.building_id
        where t.delete_flag = 0 and a.delete_flag = 0
        and t.CUSTOMER_EXPIRATION_ID = #{customerExpirationId}
        order by t.CUSTOMER_EXPIRATION_ID

    </select>

    <update id="updateCustomerExpiration">
         update bd_customer_expiration t set t.building_id = #{buildingId},
                 t.CUSTOMER_NAME=#{customerName},t.REMIND_FLAG=#{remindFlag},t.REMIND_DATE = to_date(#{remindDate},'YYYY-MM-DD')
                where t.CUSTOMER_EXPIRATION_ID = #{customerExpirationId} and t.delete_flag = 0
    </update>

    <!--删除竞争产品-->
    <update id="deleteCustomerExpiration" parameterType="int[]">
         update bd_customer_expiration t set delete_flag = 1
                where t.CUSTOMER_EXPIRATION_ID in
        <foreach item="item" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>


    </update>

</mapper>