<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.building.dao.CustomerMapper">
    <resultMap id="customer" type="cc.mrbird.building.domain.Customer">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="CUSTOMER_ID" jdbcType="DECIMAL" property="customerId"/>
        <result column="CUSTOMER_NO" jdbcType="VARCHAR" property="customerNo"/>
        <result column="CUSTOMER_NAME" jdbcType="VARCHAR" property="customerName"/>
        <result column="KEY_PERSON" jdbcType="VARCHAR" property="keyPerson"/>
        <result column="KEY_PERSON_CONTACT" jdbcType="VARCHAR" property="keyPersonContact"/>
        <result column="MONTH_FEE" jdbcType="DECIMAL" property="monthFee"/>
        <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
        <result column="DELETE_FLAG" jdbcType="DECIMAL" property="deleteFlag"/>
        <result column="CREATE_STAFF_ID" jdbcType="DECIMAL" property="createStaffId"/>
        <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="MODIFY_STAFF_ID" jdbcType="DECIMAL" property="modifyStaffId"/>
        <result column="MODIFY_DATE" jdbcType="TIMESTAMP" property="modifyDate"/>
        <result column="MODIFY_OP" jdbcType="VARCHAR" property="modifyOp"/>
    </resultMap>

    <select id="findAll" resultType="cc.mrbird.building.domain.Customer" parameterType="cc.mrbird.building.domain.Customer">
        <bind name="bindCustomerNo" value="'%' + customerNo + '%'"/>
        <bind name="bindCustomerName" value="'%' + customerName + '%'"/>
        select t.customer_id as customerId,
        t.customer_no as customerNo,
        t.customer_name as customerName,
        t.key_person as keyPerson,
        t.key_person_contact as keyPersonContact,
        t.month_fee as monthFee,
        t.remark as remark,
        t.create_date as createDate
        from BD_CUSTOMER t
        where t.delete_flag = 0
        <if test="customerNo != null and customerNo != ''">
            AND t.customer_no like #{bindCustomerNo}
        </if>
        <if test="customerName != null and customerName != ''">
            AND t.customer_name like #{bindCustomerName}
        </if>
        order by t.customer_id desc
    </select>
</mapper>