<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.building.dao.CustomerBusinessMapper">
    <resultMap id="customerBusiness" type="cc.mrbird.building.domain.CustomerBusiness">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="CUSTOMER_BUSINESS_ID" jdbcType="DECIMAL" property="customerBusinessId"/>
        <result column="CUSTOMER_ID" jdbcType="DECIMAL" property="customerId"/>
        <result column="BUSINESS_TYPE" jdbcType="DECIMAL" property="businessType"/>
        <result column="BUSINESS_PHONE" jdbcType="VARCHAR" property="businessPhone"/>
        <result column="MONTH_FEE" jdbcType="DECIMAL" property="monthFee"/>
        <result column="DELETE_FLAG" jdbcType="DECIMAL" property="deleteFlag"/>
        <result column="CREATE_STAFF_ID" jdbcType="DECIMAL" property="createStaffId"/>
        <result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="MODIFY_STAFF_ID" jdbcType="DECIMAL" property="modifyStaffId"/>
        <result column="MODIFY_DATE" jdbcType="TIMESTAMP" property="modifyDate"/>
    </resultMap>

    <sql id="findCommon">
        select t.customer_business_id as customerBusinessId,
        t.customer_id as customerId,
        c.customer_no as customerNo,
        c.customer_name as customerName,
        t.business_type as businessType,
        decode(t.business_type,
        1,
        '专线',
        2,
        '宽带',
        3,
        '固话',
        4,
        '云',
        5,
        '移网',
        6,
        '电路') as businessTypeName,
        t.business_phone as businessPhone,
        t.month_fee as monthFee,
        s.name as createStaffName,
        t.create_date as createDate
        from bd_customer_business t, staff s, bd_customer c
        where t.delete_flag = 0
        and t.create_staff_id = s.staff_id
        and t.customer_id = c.customer_id
    </sql>

    <select id="findAllByBuilding" resultType="cc.mrbird.building.domain.CustomerBusiness"
            parameterType="String">
        select distinct c.customer_id as customerId,
        c.customer_no as customerNo,
        c.customer_name as customerName,
        cb.customer_business_id as customerBusinessId,
        cb.business_type as businessType,
        decode(cb.business_type,
        1,
        '专线',
        2,
        '宽带',
        3,
        '固话',
        4,
        '云',
        5,
        '移网',
        6,
        '电路') as businessTypeName,
        cb.business_phone as businessPhone,
        cb.month_fee as monthFee
        from BD_BUILDING_CUSTOMER_RP t,
        BD_BUILDING b,
        BD_CUSTOMER c,
        bd_customer_business cb,
        addr_segm a
        where t.delete_flag = 0
        and c.delete_flag = 0
        and c.delete_flag = 0
        and a.delete_state = '0'
        and cb.delete_flag = 0
        and t.building_no = b.building_no
        and t.customer_no = c.customer_no
        and cb.customer_id = c.customer_id
        and t.segm_id = a.segm_id
        <if test="buildingNo != null and buildingNo != ''">
            AND t.building_no = #{buildingNo}
        </if>
        order by c.customer_id desc
    </select>

    <select id="findAll" resultType="cc.mrbird.building.domain.CustomerBusiness"
            parameterType="cc.mrbird.building.domain.CustomerBusiness">
        <include refid="findCommon"/>
        <if test="customerNo != null and customerNo != ''">
            AND c.customer_no = #{customerNo}
        </if>
        order by t.customer_business_id desc
    </select>

    <select id="findById" resultType="cc.mrbird.building.domain.CustomerBusiness">
        <include refid="findCommon"/>
        and t.customer_business_id = #{customerBusinessId}
    </select>

    <select id="findTotal" resultType="Long" parameterType="cc.mrbird.building.domain.CustomerBusiness">
        select count(*)
        from bd_customer_business t
        where t.delete_flag = 0
        <if test="customerId != null and customerId != ''">
            AND t.customer_id = #{customerId}
        </if>
    </select>

    <select id="monthFeeTotal" resultType="java.math.BigDecimal"
            parameterType="cc.mrbird.building.domain.CustomerBusiness">
        select nvl(sum(t.month_fee),0)
        from bd_customer_business t
        where t.delete_flag = 0
        <if test="customerId != null and customerId != ''">
            AND t.customer_id = #{customerId}
        </if>
    </select>
</mapper>